*.pyc
*.o

*.so


taco/lib/cpathfinder.c

taco/lib/csuffixarray.c

#taco/lib/cbedgraph.c

taco/lib/cbisect.c

taco/lib/cchangepoint.c

taco/lib/bx/intersection.c

taco/lib/bx/cluster.c

taco/lib/scipy/norm_sf.c

taco/lib/pysam/cfaidx.c
build
taco_run.spec
taco/lib/cbedgraph.c
taco_compare
taco_refcomp
taco_run
